* {
  font-family: Montserrat, Helvetica, sans-serif;
  color: rgb(58, 58, 58);  
} 

body {
  margin: 0;
  width: 100%;
}

main {
  margin: 0 20px;
}

.header {
  color: rgb(22, 19, 202);
  text-align: center;
  font-size: 1.6em;
}

.translatorContainer {
  display: flex;
  flex-direction: column;
  text-align: center;

  .inputContainer {
    width: 100%;

    textarea {
      font-size: 12px;
      width: 90%;
    }

    #textInput {
      border: 1px solid rgb(189, 187, 187);
    }
    
    #translation {
      background-color: rgb(243, 240, 248);
      border: 1px solid rgb(189, 187, 187);
    }
  }

  .switchBtn {
    width: 40px;
    height: 25px;
    align-self: center;
    margin-top: 20px;
  }
}

#morseCodeAlphabet {  
  height: 250px;
}

@media screen and (min-width: 768px) {

  main {
    margin: 0 40px;
  }
  .header {
    font-size: 3em;    
  }

  .translatorContainer {    
    flex-direction: row;
    align-content: space-between;

    .inputContainer {
      width: 45%;

      textarea {
        width: 90%;
        font-size: 12px;
      }
    }

    .switchBtn {
      width: 50px;
      height: 25px;
      align-self: flex-start;
      margin: 22px 10px;
    }
  }
}

